body {
  font-family: "Roboto";
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.header {
  text-align: center;
  font-size: 30px;
}

.github-card {
  display: flex;
  min-height: 100px;
  width: 60%;
  margin: 10px auto;
  border: solid #dbdbdb 1px ;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  animation: 1s anim forwards;
}
.card-info {
  flex: 1;
  /* background: red; */
  padding: 10px;
}
.username {
  font-size: 22px;
  font-weight: bold;
}
.user-image {
  height: 120px;
}
.profileBtn{
  background: #4890e0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
@keyframes anim {
  0%{
    top: -30px;
    opacity: 0;
  }
  100%{
    top: 0;
    opacity: 1;
  }
}